<div class="hero min-h-screen bg-gray-50">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto px-5 py-12 border border-indigo-300'>
    <h1 class="text-3xl font-bold text-center mb-4">プロフィール編集</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center bt-3">
        <%= form_with model: @user, url: users_path, local: true do |f| %>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :gender %>
            </div>
            <%= f.select :gender, User.genders_i18n.invert {} %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :skin_type %>
            </div>
          <%= f.select :skin_type, User.skin_types_i18n.invert {} %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :prefecture %>
            </div>
            <%= f.select :prefecture, User.prefectures_i18n.invert {} %>
          </div>
          <div class="form-control w-full mb-5">
            <div class='font-bold'>
              <%= f.label :age %>
            </div>
            <%= f.select :age, User.ages_i18n.invert {} %>
          </div>
          <div class="btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4">
            <%= f.submit %>
          </div>
          <%#=ピンクのボタンf.submit class: 'btn btn-wide bg-pink-300 hover:bg-pink-300 text-black border-0 w-full mt-8' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "after_login", "data-turbo-track": "reload", defer: true %>
