<div class="hero min-h-screen bg-gray-50">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto border border-indigo-600'>
    <h1 class="text-3xl font-bold text-center mb-4">ユーザー詳細</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center">
        <p><%=  User.human_attribute_name(:gender) %>:<%= current_user.skin_type_i18n %></p>
        <p><%=  User.human_attribute_name(:age) %>:<%= current_user.age_i18n %></p>
        <p><%=  User.human_attribute_name(:skin_type) %>:<%= current_user.skin_type_i18n %></p>
        <p><%=  User.human_attribute_name(:prefecture) %>:<%= current_user.prefecture %></p>
        <div class='btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 w-full mt-8'>
          <%= link_to 'プロフィール編集', edit_user_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "after_login", "data-turbo-track": "reload", defer: true %>

