<%= form_with model: @schedule, local: true do |f| %>
  <div class="form-control w-full max-w-xs">
  <%= f.label :odekake_type_id %>
  <%= f.select :odekake_type_id, OdekakeType.all.map { |x| [x.name, x.id] }%>
  </div>
  <div class="form-control w-full max-w-xs">
    <%= f.label :leave_home_time %>
    <%= f.time_select :leave_home_time %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

