<div class="hero min-h-screen bg-gray-50">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto px-5 py-12 border border-indigo-200'>
    <h1 class="text-3xl font-bold text-center mb-4">本日のスケジュール登録</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center">
        <%= form_with model: @schedule, local: true do |f| %>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :odekake_type_id %>
            </div>
            <p class="text-xs pb-2">※今日の予定にいちばん近いものを選んでください</p>
            <%= f.select :odekake_type_id, OdekakeType.all.map { |x| [x.name, x.id] }%>
          </div>
          <div class="form-control w-full">
            <div class='font-bold pt-2'>
              <%= f.label :leave_home_time %>
            </div>
            <p class="text-xs pb-2">※外出しない場合は</br>日焼け止めを塗った時間を入力してください！</p>
            <div>
            <%= f.time_select :leave_home_time, {start_hour: 5, end_hour: 13, minute_step: 60} %>
            時台に出発！🚘
            </div>
            <%#= select_hour Time.now(), {start_hour: 5, end_hour: 12, include_blank: true} %>
          </div>
          <div class="btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 w-full mt-8">
            <%= f.submit %>
          </div>
        <% end %>    
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "after_login", "data-turbo-track": "reload", defer: true %>
