<header>
  <div class="navbar bg-gradient-to-r from-cyan-100 to-blue-300">
    <div class="flex-1">
      <%= link_to 'Sunkissing', root_path, class: "btn btn-ghost normal-case text-xl" %>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
            </svg>
          </div>
        </label>
        <% if logged_in? %>
          <ul tabindex="0" class="menu menu-normal dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <% if current_user.schedules.schedule_at_today.present? %>
              <li><%= link_to '本日のスケジュール', schedule_path(current_user.schedules.schedule_at_today.first) %></li>
              <li><%= link_to 'プロフィール編集', edit_user_url %></li>
              <li><%= link_to 'カレンダー', calendar_url %></li>
              <li><%= link_to 'トップページ', root_path %></li>
              <li><%= link_to 'トーク画面に戻る', 'https://line.me/R/ti/p/@508snqhw' %></li>
              <li><%= link_to 'お問い合わせフォーム', 'https://forms.gle/ZKB8NeLTPFi5Qy6m8' %></li>
            <% else %>
              <li><%= link_to '本日のスケジュール登録', new_schedule_path %></li>
              <li><%= link_to 'プロフィール編集', edit_user_url %></li>
              <li><%= link_to 'カレンダー', calendar_url %></li>
              <li><%= link_to 'トップページ', root_path %></li>
              <li><%= link_to 'トーク画面に戻る', 'https://line.me/R/ti/p/@508snqhw' %></li>
              <li><%= link_to 'お問い合わせフォーム', 'https://forms.gle/ZKB8NeLTPFi5Qy6m8' %></li>
            <% end %>
            <li><a>日焼け止めを探す（準備中）</a></li>
            <li><%= link_to '今日の紫外線情報（準備中）', weather_forecast_path %></li>
          </ul>
        <% else %>
          <ul tabindex="0" class="menu menu-normal dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><%= link_to 'お友達登録・トーク画面', 'https://line.me/R/ti/p/@508snqhw' %></li>
            <li><%= link_to 'ユーザー登録・ログイン', new_user_path %></li>
            <li><a>日焼け止めを探す（準備中）</a></li>
            <li><%= link_to '今日の紫外線情報（準備中）', weather_forecast_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>
