<div class="hero min-h-screen bg-gray-50">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto px-5 py-12 border border-indigo-300'>
    <h1 class="text-3xl font-bold text-center mb-4">日焼け止め編集</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center bt-3">
        <%= form_with model: @sunscreen, url: admin_sunscreen_path, local: true do |f| %>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :name %>
            </div>
            <%= f.text_field :name %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :spf %>
            </div>
            <%= f.select :spf, Sunscreen.spfs.keys.map { |k| [t("activerecord.attributes.sunscreen.spfs.#{k}"), k] } %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :pa %>
            </div>
            <%= f.select :pa, Sunscreen.pas.keys.map { |k| [t("activerecord.attributes.sunscreen.pas.#{k}"), k] } %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :capacity %>
            </div>
            <%= f.text_field :capacity %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :price %>
            </div>
            <%= f.text_field :price %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :manufacture %>
            </div>
            <%= f.text_field :manufacture %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :brand %>
            </div>
            <%= f.text_field :brand %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :summary %>
            </div>
            <%= f.text_area :summary, size: "20x10" %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :rakuten_url %>
            </div>
            <%= f.text_field :rakuten_url %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :rakuten_image_url %>
            </div>
            <%= f.text_area :rakuten_image_url, size: "20x10" %>
          </div>
          <div class="link">
            <%= f.submit class: "btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
