<% content_for(:title, '紫外線情報') %>
<div class="hero min-h-screen bg-gray-50">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto px-5 py-12 border border-indigo-200'>
    <h1 class="text-3xl font-bold text-center mb-4">紫外線情報</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center">
        <div>
          <p class="font-bold">都道府県</p>
          <% if current_user.nil? %>
            <p class="text-xs pb-2">※表示する地域はユーザー登録後変更可能です！</p>
          <% else %>
            <p class="text-xs pb-2">※表示する地域はプロフィール編集から変更可能です</p>
          <% end %>
          <div class="font-bold">
            <%= @prefecture.name %>
          </div>
        </div>
        <div>
          <p class="font-bold">表示する場所</p>
          <div class="font-bold">
            <%= @prefecture.capital_city %>
          </div>
        </div>
        <div>
          <p class="font-bold">本日の最高UVI指数</p>
          <div class="font-bold text-2xl">
            <%= @daily_uvi %>
          </div>
        </div>
        <div>
          <%= @message %>
        </div>
        <div>
        <%= form_with model: @q, url: search_sunscreens_path, method: "get" do |f| %>
          <div class="form-control w-full">
            <div class="font-bold">
              <%= f.label :spf_eq, "SPF", hidden: true, class: "font-bold" %>
            </div>
            <%= f.hidden_field :spf_eq, value: @value, id: "q_spf_eq" %>
          </div>
          <div class="link">
            <%= f.submit "🔍今日にぴったりの日焼け止めを探す", class: "btn btn-wide text-center bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4", "data-disable-with": "🔍今日にぴったりの日焼け止めを探す" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


