<% content_for(:title, '日焼け止め') %>
<div class='hero bg-gray-50'>
<div class="card shadow mt-5 mb-5 bg-base-100 mx-auto">
    <div class="card-body text-center bt-3">
        <%= search_form_for @q, url: search_sunscreens_path do |f| %>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :spf_eq, 'SPF', class: "font-bold" %>
            </div>
            <%= f.select :spf_eq, Sunscreen.spfs_i18n.invert.map{|key, value| [key, Sunscreen.spfs[value]]}, { include_blank: "指定なし" }, class: "select select-accent select-lg w-full max-w-xs" %>
          </div>
          <div class="form-control w-full">
            <div class='font-bold'>
              <%= f.label :pa_eq, 'PA', class: "font-bold" %>
            </div>
            <%= f.select :pa_eq, Sunscreen.pas_i18n.invert.map{|key, value| [key, Sunscreen.pas[value]]}, { include_blank: "指定なし" }, class: "select select-accent select-lg w-full max-w-xs" %>
          </div>
          <div class="link">
            <%= f.submit '検索', class: "btn btn-wide text-center bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="hero min-h-screen bg-gray-50">
  <div class="w-screenmax-w-sm sm:max-w-lg px-5 py-12 border-2 border-indigo-200">
    <%= render 'sunscreens' %>
  </div>
</div>
