<% content_for(:title, '日焼け止め') %>
<div class='hero bg-gray-50'>
  <div class="card shadow mt-5 mb-5 bg-base-100 mx-auto">
    <div class="card-body text-center bt-3">
      <%= search_form_for @q, url: search_sunscreens_path do |f| %>
      <div class="form-control w-full">
        <div class='font-bold'>
          <%= f.label :spf_eq, 'SPF', class: "font-bold" %>
        </div>
          <%= f.select :spf_eq, Sunscreen.spfs_i18n.invert.map{|key, value| [key, Sunscreen.spfs[value]]}, { include_blank: "指定なし" } %>
      </div>
      <div class="form-control w-full">
        <div class='font-bold'>
          <%= f.label :pa_eq, 'PA', class: "font-bold" %>
        </div>
          <%= f.select :pa_eq, Sunscreen.pas_i18n.invert.map{|key, value| [key, Sunscreen.pas[value]]}, { include_blank: "指定なし" } %>
      </div>
      <div class="link mt-5">
        <%= f.submit '検索', class: "btn btn-wide text-center bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-gray-50">
  <div class="w-screenmax-w-sm sm:max-w-lg px-5 py-12 border-2 border-indigo-200">
    <% if @results.present? %>
      <% @results.each do |sunscreen| %>
        <div class="card shadow bg-base-100 mb-3 mt-5">
          <div class="card-body">
            <h2 class="card-title text-1xl font-bold"><%= sunscreen.name %></h2>
            <p>SPF:<%= sunscreen.spf_i18n %></p>
            <p>PA:<%= sunscreen.pa_i18n %></p>
            <p>値段:<%= sunscreen.price %>円</p>
            <p>タグ:
              <% sunscreen.tags.each do |tag| %>
                <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-sky-600 bg-sky-200 uppercase last:mr-0 mr-1">
                  <%= link_to tag.name, search_sunscreens_path(tag_id: tag.id) %>
                </span>
              <% end %>
            </p>
          </div>
          <div class='link text-center mb-5'>
            <%= link_to "日焼け止め詳細へ", sunscreen_path(sunscreen.id), class: "btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4" %>
          </div>
        </div>
    <% end %>
  <% else %>
    <p class="font-border">該当の日焼け止めは0件です。<br>条件を変更して検索してください。</p>
  <% end %>
  </div>
</div>


