<p><%=  Sunscreen.human_attribute_name(:name) %>:<%= @sunscreen.name %></p>
<p><%=  Sunscreen.human_attribute_name(:manufacture) %>:<%= @sunscreen.manufacture %></p>
<p><%=  Sunscreen.human_attribute_name(:brand) %>:<%= @sunscreen.brand %></p>
<p><%=  Sunscreen.human_attribute_name(:price) %>:<%= @sunscreen.price %>円</p>
<p><%=  Sunscreen.human_attribute_name(:capcacity) %>:<%= @sunscreen.capacity %>g</p>
<p>1gあたりの価格:<%= @sunscreen.price / @sunscreen.capacity %>円</p>
<p><%=  Sunscreen.human_attribute_name(:spf) %>:<%= @sunscreen.spf_i18n %></p>
<p><%=  Sunscreen.human_attribute_name(:pa) %>:<%= @sunscreen.pa_i18n %></p>
<p><%=  Sunscreen.human_attribute_name(:summary) %>:<%= @sunscreen.summary %></p>
<p><%= Tag.model_name.human %>:
<% @sunscreen.sunscreen_tags.each do |tag| %>
  <%= Tag.find(tag.id).name %>
<% end %></p>
<%= link_to "日焼け止め一覧へ", sunscreens_path, class: "btn btn-warning" %>



