<h1 class="text-3xl text-black pb-6">スケジュール</h1>
  <div class="w-full mt-12">
    <p class="text-xl pb-3 flex items-center">データ件数: <%= @schedules.count %></p>
<div class="w-full mt-12">
  <p class="text-xl pb-3 flex items-center">
    <i class="fas fa-list mr-3"></i>
    All Schedules
  </p>
  <div class="bg-white overflow-auto">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">ID</th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">leave_home_time</th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">user_id</th>
          <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">odekake_type_id</th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">btn</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
      <% @schedules.each_with_index do |schedule, i|  %>
        <% color_class = 'bg-gray-200' if i.odd? %>
        <tr class="<%= color_class %>">
          <td class="w-1/3 text-left py-3 px-4">
            <%= schedule.id %>
          </td>
          <td class="w-1/3 text-left py-3 px-4">
            <%= schedule.leave_home_time %>
          </td>
          <td class="text-left py-3 px-4">
            <%= schedule.user_id %>
          </td>
          <td class="text-left py-3 px-4">
            <%= schedule.odekake_type_id %>
          </td>
          <td class="text-left py-3 px-4">
            <%= link_to "詳細", admin_schedule_path(schedule), class: "btn" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
