<% content_for(:title, 'プロフィール') %>
<div class="hero min-h-screen">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto px-5 py-12 border border-indigo-200'>
    <h1 class="text-3xl font-bold text-center mb-4">プロフィール詳細</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center">
        <div>
          <p class="font-bold"><役割></p>
          <p class=''><%= @user.role_i18n %></p>
        </div>
        <div>
          <p class="font-bold"><性別></p>
          <p class=''><%= @user.gender_i18n %></p>
        </div>
        <div>
          <p class="font-bold"><肌質></p>
          <p><%= @user.skin_type_i18n %></p>
        </div>
        <div>
          <p class="font-bold"><都道府県></p>
          <p><%= @user.prefecture_id %></p>
        </div>
        <div>
          <p class="font-bold"><年齢></p>
          <p><%= @user.age_i18n %></p>
        </div>
      </div>
    </div>
  </div>
</div>
